.flex{
    display: flex;
}

a {
    text-decoration:none
}

body{
    font-family: 'Encode Sans', sans-serif;
    
}

.logo{
    justify-content: center;
    margin-top: 22px;
    align-items: center;
    width: 1250px;
}

.container-icones{

    width: 1250px;
    justify-content: space-between;
    margin-top: 22px;
    align-items: center;
    height: 40px;
}

.g1{
    color: #b6291f;
    font-size: 19px;
}
.g1:hover{
    background-color: #f2f2f2; 
    transition: 0.5s;
    opacity: 0.3;
}
.globo{
    color: #1E4B9B;
    font-size: 19px;
}
.globo:hover{
    background-color: #f2f2f2; 
    transition: 0.5s;
    opacity: 0.3;
}
.valor{
    color: #006766;
    font-size: 19px;
}
.valor:hover{
    background-color: #f2f2f2; 
    transition: 0.5s;
    opacity: 0.3;
}
.ge{
    color: #07AA47;
    font-size: 19px;
}
.ge:hover{
    background-color: #f2f2f2; 
    transition: 0.5s;
    opacity: 0.3;
}
.cartola{
    color: #E3662B;
    font-size: 19px;
}
.cartola:hover{
    background-color: #f2f2f2; 
    transition: 0.5s;
    opacity: 0.3;
}
.globoplay{
    color: #FB0735;
    font-size: 19px;
}
.globoplay:hover{
    background-color: #f2f2f2; 
    transition: 0.5s;
    opacity: 0.3;
}
.dropz{
    color: #FF75BB;
    font-size: 19px;
}
.dropz:hover{
    background-color: #f2f2f2; 
    transition: 0.5s;
    opacity: 0.3;
}
.gshow{
    color: #EC7D00;
    font-size: 19px;
}
.gshow:hover{
    background-color: #f2f2f2; 
    transition: 0.5s;
    opacity: 0.3;
}
.quem{
    color: #323333;
    font-size: 19px;
}
.quem:hover{
    background-color: #f2f2f2; 
    transition: 0.5s;
    opacity: 0.3;
}
.receitas{
    color: #A81D83;
    font-size: 19px;
}
.receitas:hover{
    background-color: #f2f2f2; 
    transition: 0.5s;
    opacity: 0.3;
}

.borda-icones{
    width: 1600px;
    border: 1px #F5F6F7;
    margin-top: 4px;
}

.divisoria{
    margin-top: 36px;
    margin-right: 35px;
    border: 1px #E5E5E5;;
    height: 845px;
}

.borda-depois-vacinados{
    width: 624px;
    border: 1px #E5E5E5;
    margin-top: 25px;
    margin-left: 0px;
}
.sabatina{
    margin-top: 36px;
}
.news-left{

    color: #C4160C;
    margin-top: 34px;
    width: 660px;
    height: 847px;
    
}
.vacinados-texto{
    font-size: 52px;
    width: 624px;
    height: 201px;
    color: #C4160C;

}
.vacinados-texto:hover{
    background-color: #f2f2f2; 
    transition: 0.5s;
    opacity: 0.6;
}
.ministros-texto{
    color: #303134;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    width: 622px;
    height: 25px; 
}
.ministros-texto:hover{
    background-color: #f2f2f2; 
    transition: 0.5s;
    opacity: 0.6;
}
.bandeiras-texto{
    color: #303134;
    font-weight: 500;
    font-size: 18px;
    width: 622px;
    height: 25px; 
    margin-top: 7px;
}
.bandeiras-texto:hover{
    background-color: #f2f2f2; 
    transition: 0.5s;
    opacity: 0.6;
}


.container-news-left-images{
    margin-top: 51px;
    justify-content: space-between;
    width: 627px

}

.news-left-img{
    width: 193px;
    border-radius: 12px;
}

.sub-red{
    margin-top: 11px;
    width: 192px;
    height: 19px;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.02em;
    color: #c4170c;
}


.sub-bold{
    color: #2F3134;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: -0.045em;
    width: 192px;
    height: 84px;
    margin-top: 6px;

}
.sub-bold:hover{
    background-color: #f2f2f2; 
    transition: 0.5s;
    opacity: 0.6;
}
.sub-normal{
    color: #2F3134;
    font-size: 14px;
    width: 174px;
    height: 42.5px;
    margin-top: 4.5px;
    letter-spacing: -0.048em;
}
.sub-normal:hover{
    background-color: #f2f2f2; 
    transition: 0.5s;
    opacity: 0.6;
}

.container-news-left-texts{
    width: 627px;
    justify-content: space-between;
    margin-top: 25px;
    
}

.news-right{

    width: 552px;
    height: 913px;
    display: flex;
    justify-content: space-between;


}
.news-right-imagens{

    margin-top: 36px;
    height: 877px;
    justify-content: space-between;
    flex-direction: column;
    width: 240px;
}

.news-right-img{
    border-radius: 12px;
    width: 240px;
    height: 128px;
}

.greve-img{
    margin-top: 50px;
}
.verdades-img{
    margin-top: 23px;
}

.lota-img{
    margin-top: 50px;
}

.sub-green{
    font-size: 14px;
    font-weight: 500;
    color: #16AE54;
    width: 240px;
    height: 19px;
    margin-top: 11px;
    letter-spacing: -0.02em;

}
.sub-bold-right{
    font-size: 20px;
    font-weight: bold;
    color: #2F3134;
    width: 240px;
    height: 84px;
    margin-top: 6px;
    letter-spacing: -0.045em;

}
.sub-bold-right:hover{
    background-color: #f2f2f2; 
    transition: 0.5s;
    opacity: 0.6;
}
.sub-normal-right{
    font-size: 14px;
    color: #2F3134;
    width: 217px;
    height: 43px;

}
.sub-normal-right:hover{
    background-color: #f2f2f2; 
    transition: 0.5s;
    opacity: 0.6;
}
.desfalcado{
    height: 78px;
}
.blanche{
    width: 217px;
    height: 21px;
}
.angel{
    width: 240px;
    height: 63px;
}
.lota{
    width: 240px;
    height: 26px;

}
.gabriel{
    width: 217px;
    height: 21px; 
    margin-top: 9px;
}
.aliados{
    margin-top: 8px;
}





