
a {
    text-decoration:none
}

body{
    font-family: 'Encode Sans', sans-serif;
    
}
.all{
    border: 3px solid lightgreen;
    margin: auto;
}

.flex{
    display: flex;
}

.logo{
    justify-content: center;
    margin-top: 22px;
    align-items: center;
    width: 1250px;
    border: 3px solid lightblue;
}

.container-icones{

    width: 1250px;
    justify-content: space-between;
	border: 3px solid #ccc;
    margin-top: 22px;
    align-items: center;
    /* background-color: lightgreen; */

}
.g1{
    color: #C3170C;
    font-size: 19px;
}
.globo{
    color: #1E4B9B;
    font-size: 19px;
}
.valor{
    color: #006766;
    font-size: 19px;
}
.ge{
    color: #07AA47;
    font-size: 19px;
}
.cartola{
    color: #E3662B;
    font-size: 19px;
}
.globoplay{
    color: #FB0735;
    font-size: 19px;
}
.dropz{
    color: #FF75BB;
    font-size: 19px;
}
.gshow{
    color: #EC7D00;
    font-size: 19px;
}
.quem{
    color: #323333;
    font-size: 19px;
}
.receitas{
    color: #A81D83;
    font-size: 19px;
}

.container-principal{
    border: 3px solid lightcoral;
    /* justify-content: space-around; */
}
.caixa1{
    border: 3px solid lightcyan;
    color: #C4160C;
    margin-top: 34px;
    width: 660px;
    height: 847px;
    
}
.vacinados-texto{
    font-size: 52px;
    width: 624px;
    height: 201px;
    color: 
    #C4160C;

}
.ministros-texto1{
    color: #303134;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    width: 622px;
    height: 25px; 
}
.ministros-texto2{
    color: #303134;
    font-weight: 500;
    font-size: 18px;
    width: 622px;
    height: 25px; 
    margin-top: 7px;
}

.container-caixa1-horizontal-imagens{
    border: 3px solid lightgrey;
    margin-top: 51px;
    justify-content: space-between;
    width: 627px

}

.alem-presidente-img{
    width: 193px;
    border-radius: 12px;
}

.container-child1{
    margin-top: 11px;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.02em;
    color: #c4170c;
}

.container-child2{
    color: #2F3134;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: -0.045em;
    width: 192px;
    height: 84px;
    margin-top: 6px;
}
.container-child3{
    color: #2F3134;
    font-size: 14px;
    width: 174px;
    height: 42.5px;
    margin-top: 4.5px;
}
.container-caixa1-textos{
    display: flex;
    width: 627px;
    justify-content: space-between;
    margin-top: 62px;
    
}
.container-textos-child1{
    font-size: 14px;
    font-weight: 500;
    color: #C4170C; 
    width: 192px;
    height: 19px;
  
}
.container-textos-child2{
    font-size: 20px;
    color: #2F3134;
    width: 192px;
    height: 84px;
    font-weight: bold;
 
}
.container-textos-child3{
    font-size: 14px;
    color: #2F3134;
    width: 174px;
    height: 42.5px;
}

.caixa2{
    border: 3px solid lightgrey;
    width: 590px;
    height: 847px;

}
.container-caixa2-vertical1-imagens{
    border: 3px solid lightcoral;
    margin-top: 35px;
    height: 100%;
    justify-content: space-between;
    flex-direction: column;
    width: 240px;
}
.espiao-img{
    border-radius: 12px;
    width: 240px;
    height: 128px;
}

.news-vertical1-green{
    font-size: 14px;
    font-weight: 500;
    color: #16AE54;
    width: 240px;
    height: 19px;
    margin-top: 11px;
    letter-spacing: -0.02em;

}
.news-vertical1-negrito{
    font-size: 20px;
    font-weight: bold;
    color: #2F3134;
    width: 240px;
    height: 84px;
    margin-top: 6px;
    letter-spacing: -0.045em;

}
.news-vertical1-sub{
    font-size: 14px;
    color: #2F3134;
    width: 217px;
    height: 43px;

}





